
h1 {
    font-size: 2.5em;
    margin: 2px;
    padding-top:0vh;
    padding-bottom:0.5vh;
  }
  
  h2 {
    font-size: 1.5em;
     margin: 2px;
     padding-top: 0.5vh;
     padding-bottom: 0.5vh;

  }